[gd_resource type="Resource" script_class="ContentPackDef" load_steps=5 format=3]

[ext_resource type="Script" path="res://core/content/content_pack_def.gd" id="1_pack"]
[ext_resource type="Script" path="res://core/content/content_pack_dependency.gd" id="2_dependency"]
[ext_resource type="Resource" path="res://content_packs/weapons/example/weapon_example.tres" id="3_weapon"]
[ext_resource type="Script" path="res://core/content/weapon_def.gd" id="4_weapon_script"]

[sub_resource type="Resource" id="Dependency_core"]
script = ExtResource("2_dependency")
pack_id = &"core"
minimum_version = "0.1.0"

[resource]
script = ExtResource("1_pack")
pack_id = &"weapon_example"
pack_version = "1.0.0"
pack_kind = 2
display_name_key = &"weapon.example.name"
dependencies = Array[ExtResource("2_dependency")]([SubResource("Dependency_core")])
weapons = Array[ExtResource("4_weapon_script")]([ExtResource("3_weapon")])
